@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  position: absolute;
  top: 40px;
  left: 40px;
}

body {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  background-color: white;
  margin: 150px 20px;
  border-radius: 20px;
  text-align: center;
  padding-top: 150px;
}
